body {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 30px
}

H2 {background-color: #CCFFFF}


# -------------------------
#     v0 css style sheet
# -------------------------

.command
{
  color : red;
  font-style : italic;
}

.directory
{
  font-style : italic;
}

.quote
{
  font-family : monospace;
}

.error
{
  color : red;
}

.addme
{
  color : red;
  text-decoration : blink;
  font-weight : bold;
}

.option
{
  font-weight : bold;
}

.input
{
  font-style : italic;
}

.variable
{
  font-style : italic;
}


# -------------------------
#     v1 css style sheet
# -------------------------

replaceable, .replaceable {
  font-style: italic;
}

userinput, .userinput {
  color: #0000FF; 
}

span.term {
  font-weight: bold;
}

.in {
  color:#0000FF;
}

.out {
  color:#006600;
}

pre {
  font-family: monospace;
}

pre.programlisting {
  background: #F0E0E0;
  border: 1px solid gray;
  padding: 2px;
  white-space: pre;
}

pre.screen { 
  background: #E0F0E0;
  border: 1px solid gray;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: .5em;
  padding-bottom: .5em;
  white-space: pre;
}

div.example p.title {
  background: #FFFFFF;
  border: none;
  padding: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14pt;
}

div.example p {
  background: #F4F4F4;
  border: 1px solid gray;
  padding: 6px;
  margin-top: 5px;
}

div.informalexample p.title {
  background: #FFFFFF;
  border: none; 
  padding: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14pt;
}

div.informalexamplebody {
  background: #F4F4F4;
  border: 1px solid gray;
  padding: 6px;
  margin-top: 5px;
}

div.glosslist dt {
  font-weight: bold;
  color: #FF874B;
}

.command {
  font-weight: bold;
  color: #900000;
}

.cellattributes table {
  background: #FFFFFF;
  border: 0;
}

.cellattributes td {
  background: #EEEEEE;
  border: 0;
}

.cellattributes th {
  background: #DDDDDD;
  border: 0;
}

.celloptions table {
  background: #FFFFFF;
  border: 0;
}

.celloptions td {
  background: #EEEEEE;
  border: 0;
}

.celloptions th {
  background: #DDDDDD;
  border: 0;
}

.celloptreq td {
  background: #EEAAAA;
}

code.filename {
  font-weight: bold;
}

div.figure {
  float: right;
  width: 50%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

img.scaled {
  width: 100%;
}
